:root{
    --primary-color: #104edd;
    --secondary-color: #3ea1f7;
    --thertiary-color: #a6d1ff;
    --fisrt-font: 2rem;
    --second-font: 1rem;
    --radius-border: 100px;
}
@font-face {
    font-family: 'JumboSale'; /* Elige un nombre para tu fuente */
    src: url('../assets/fonts/JumboSale.otf') format('opentype');
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "JumboSale", sans-serif      
}

/*Header*/
header {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; /*Para que los elementos se pongan uno sobre otro*/
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 400px; /*Para que no este pegado al techo de nuestra*/
    text-align: center;
    background-color: var(--primary-color);
    .header_title--container {
        width: 90%;
        min-width: 288px; /*Estas son medidas muy especificas y las usamos para que una vez llegue 
        a 900px dejara de crecer el contenedor, siendo asi una medida estatica tambien para determinar
        el ancho de nuestro contenedor */
        max-width: 900px;
        height: 400px;
        margin-top: 30px;
        align-self: center;
        >img {
            width: 200px ;
            height: 50px;
            align-self: center;
        }
        >.header-title {
            font-size: 3rem;
            font-weight: 300;
            line-height: 3.5rem; /*La sangria del texto, el espaciado entre cada saltyo de linea
            que tiene este mismo*/
            color: white;
        }
        >.header-subtitle {
            margin-top: 15px;
            font-size: 1.8rem;
            line-height: 1.8rem;
            color: white;
        }
        .header_button--cta {
            position: absolute;
            top: 337px; /*Para mover el elemento en la posicion desada sin necesidad de hacerle
        caso al contenedor padre.*/
            left: calc(50% + -114.5px);
            display: block;
            margin-top: 35px;
            padding: 15px;
            width: 229px;
            height: 48px;
            background-color: var(--thertiary-color);
            /*Sombra*/
            box-shadow: 0px 4px 8px rgba(32, 30, 89, 0.16);
            border: none;
            border-radius: 5px;
            font-size: 1.4rem;
            font-weight: bold;
            text-decoration: none;
            color: var(--warm-black);
            /*Añadiendo iconos del spam para que se vea el icono*/
            span {
                display: inline-block;
                width: 13px;
                height: 8px;
                margin-left: 10px;
                background-image: url('../assets/icons/arrow-right-02-stroke-rounded.svg');
            }
        }
    }
}


/*Main section (1) exchange of information and carrousel*/
main {
    width: 100%;
    min-width: 320px; /*Esto para que para que no se haga mas pequeño después de esta dimension,y quede igual al header */
    height: auto;
    .main-products__container-slider{ /*Slider*/
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 30px;
        align-items: center;
        h2 {
            width: fit-content;
            height: fit-content;
            font-size: 2.5rem;
            color: var(--primary-color);
            margin-bottom: 5px;
        }
        .main-products--slider {
            position: relative;
            width: 100%;
            min-width: 200px;
            max-width: 800px;
            height: auto;
            margin: 0 auto;
            margin-top: 20px;
            .slider-cards > img {
                width: 100%;
                height: 100%;
                border-radius: 15px;
                padding: auto;
            }
        }
    }
}